<div class="sidebar">
  <div class="user-profile">
    <img src="/path/to/profile/image" alt="User profile image" class="profile-image">
    <h3 class="username">{{username}}</h3>
  </div>
  
  <nav class="sidebar-nav">
    <ul>
      <li>
        <a href="/dashboard/new-post">Create New Post</a>
      </li>
      <li>
        <a href="/dashboard/my-posts">My Posts</a>
      </li>
    </ul>
  </nav>
</div>
