<!-- views/dashboard.handlebars -->

{{!-- Extending the layout --}}
{{#extend "layouts/main"}}
  
  {{!-- Set the title --}}
  {{#set "title"}}Dashboard{{/set}}
  
  {{!-- Page content --}}
  {{#content "pageContent"}}
  
    <div class="columns">
      <div class="column is-one-third">
        {{!-- Sidebar --}}
        {{> sidebar}}
      </div>
      <div class="column">
        {{!-- Main content --}}
        <h1 class="title is-3">Create a New Post</h1>
        <form action="/posts" method="POST">
          <div class="field">
            <label class="label">Title</label>
            <div class="control">
              <input class="input" type="text" name="title" placeholder="Post title">
            </div>
          </div>
          <div class="field">
            <label class="label">Content</label>
            <div class="control">
              <textarea class="textarea" name="content" placeholder="Post content"></textarea>
            </div>
          </div>
          <button class="button is-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
    
  {{/content}}

{{/extend}}
